- var pageTitle = `${title} | 2J-NITTC`

doctype html
head
    title= pageTitle
    link(rel='stylesheet' href='/stylesheets/style.css')
#wrap
    #menu
        include menu
    #container
        h1= title
        block content
block footer
    #footer
        p Copyright(c) 2J-NITTC